<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel = "stylesheet" href = "../static/style/styles.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i><b>Amanda's Blog</b></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/"><b>Home</b></a>
              <a class="nav-link" href="/entries"><b>Entries</b></a>
              <a class="nav-link" href="mailto:amandaadoyi@gmail.com"><b>Hello &#128075;</b></a>
            </div>
          </div>
        </div>
      </nav>
      {% block content%}
      {% endblock %}
      <div class = 'overallDiv'>
      <div class = "footer"> 
        <a href = "https://github.com/Lonercode">Github</a><br/>
        <a href = "https://www.linkedin.com/in/amanda-adoyi-83725a198?trk=contact-info">LinkedIn</a><br/>
        <a href = "https://www.twitter.com/amanda_adoyi">Twitter</a><br/><br/>
        <p id = "copyright">&#169; 2024 Built by me</p>
      </div>
      </div>
      
      <script src = "../static/js/func.js"></script>
</body>
</html>